# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# User file
*.user
#build files
build*/


build/
builds/
.vscode/
compile_commands.json
src/a.html
src/a.js
src/a.wasm
doc/
CMakeSettings.json
.vs/
html/
latex/
out/
yorcvs.srctrlprj
yorcvs.srctrlbm
yorcvs.srctrldb
yorcvs.srctrldb_tmp
.*/
tests/CTest/Testing/Temporary/CTestCostData.txt
tests/CTest/Testing/Temporary/LastTest.log
imgui.ini
